/*---------------
   UNIVERSALS
---------------*/
a {
  text-decoration: none;
  color: inherit;
}
/*---------------
   NAVIGATION
---------------*/
.hamburger {
  background: transparent;
  height: 35px;
  margin-left: 20px;
  position: fixed;
  top: 20px;
  z-index: 10;
  outline: none;
}
.font-size {
  font-size: 16px;
}
.navbar {
  border: 0;
  width: 100px;
}
/*---------------
  HERO SECTION
---------------*/
.hero-bg {
  height: 500px;
  background-image: url(../img/oilmix.jpg);
  background-size: cover;
}
.hero-section {
  height: 450px;
  background-color: rgba(0,0,0,0.3);
}
.cube {
  height: 300px;
  width: 300px;
  transform: rotate(45deg);
  background-color: grey;
  margin-top: -150px;
  /*margin-left: -150px;*/
}
.inner-cube {
  height: 300px;
  width: 300px;
  /*position: absolute;*/
  transform: rotate(-45deg);
  border: 2px solid black;
  margin-left: -15px;
  visibility: hidden;
}
.cube:hover {
  transform: rotate(0deg);
  transition-delay: 90ms;
  /*background-color: pink;*/
}
.inner-cube:hover {
  transform: rotate(0deg);
  transition-delay: 1s;
  visibility: visible;
}
.cube-flex {
  display: flex;
  justify-content: space-between;
  height: 200px;
}
